/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a {
    text-decoration: none;
    color: black;
}

.fa-solid {
    color: var(--main-color);
}

.white {
    color: white;
}

.medium-text {
    font-size: 1.125em;
    font-weight: 700;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    margin: 30px 50px 35px 50px;
    gap: 35px;
}

.section-title {
    font-size: 22px;
    margin: 0;
}

/****** Header ******/
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 1.1875em;
    margin: 30px 50px;
}

.menu {
    display: flex;
    margin: 0 50px;
    gap: 68px;
}

.menu-item {
    padding-top: 14px;
    border-top: solid 2px transparent;
}

.menu-item:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
}

/****** Infos *******/
.infos {
    display: flex;
    flex-direction: column;
    gap: 35px; 
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline p {
    margin: 0;
}

/****** Search-bar *******/
.search-bar {
    width: 377px;
    height: 47px;
    display: flex;
    align-items: center;
    gap: 24px;
    border-top: solid 1px var(--main-bg-color);
    border-bottom: solid 1px var(--main-bg-color);
    border-radius: 15px;
}

.search-label {
    width: 50px;
    height: 47px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.fa-location-dot {
    color: black;
}

.search-field {
    min-width: 0;
    padding: 0;
    border: none;
}

.search-button {
    height: 49px;
    box-sizing: border-box;
    padding: 0 16px;
    background-color: var(--main-color);
    border: none;
    border-radius: 0 15px 15px 0;
}

.search-button::after {
    content: 'Rechercher';
}

/****** Filter-bar *******/
.filter-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.filter {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 19px;
    gap: 10px;
    border: solid 2px var(--main-bg-color);
    border-radius: 25px;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

/******* Info-bar ******/
.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--main-bg-color);
    border-radius: 50%;
}

.fa-info {
    font-size: 0.625em;
}

/****** Cards ******/
.card {
    position: relative;
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.card-subtitle {
    margin: 0;
}

.card a::after {
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Hebergements & Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

/* Hebergements */
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.hebergements-cards .card {
    width: 30%;
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px 10px 10px 10px;
    gap: 8px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Populaires */
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
    width: 67%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 5px 15px;
}

.populaires-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.populaires-cards .card-title {
    margin: 0;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/* Activites */
.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards .card {
    width: 23%;
    flex-direction: column;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards .card-title {
    padding: 20px 19px;
}

/***** Footer ******/
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.footer-section {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}